@tailwind base;
@tailwind components;
@tailwind utilities;

/* Work Sans */
@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Atkinson Hyperlegible */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --primary_color: #222222;
  --secondary_color: #F7F2EE;
  --tertiary_color: #E16C38;

  --slow_transition : 0.5s ease-in-out;

  --container_horizontal_padding: 2rem;
}

body {
  margin: 0;
  background-color: #F7F2E8;
  font-family: 'Work Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Atkinson Hyperlegible';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

section {
  padding: 5rem 0;
  opacity: 0;
  transform: translateY(20px)
}

@media (min-width: 1024px) {
  section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

h2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  h2 {
    margin-bottom: 3rem;
  }
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity var(--slow_transition), transform var(--slow_transition);
}
